# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
dist/
build/
out/

# Logs and databases
*.log
*.sqlite

# Dependency directories
bower_components/
jspm_packages/

# macOS
.DS_Store

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.env
